img{
  float: right;
  width: 30%;
}
p{
  font-size: 1.2rem;
}
@media(min-width:641px){
  div{
    column-count: 2;
  }
@media(min-width: 781px) {
  div{
    column-count: 3;
  }
}
}
@@media (min-width:0px) {
  div{
    column-count: 1;
  }
}
