*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 500px;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
}
.item{
  width: 100px;
  background-color: orange;
  border: 5px solid yellow;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-grow: 1;
  flex-shrink: ;
  flex-basis: ;
}
.item4{
  order: -1;
  flex-grow: 5;
  align-self: center;
}
