*{
  margin: 0;
  padding: 0;
}
body{
  width: 80%;
  align-self:  center;
  padding-left: 10%;
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 5rem;
}
nav h1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  flex-grow: 1

}
nav h1:hover{
  background-color: gray;
}
nav+div{
  display: flex;
  flex-direction: row;

}
nav+div div:nth-last-of-type(2n){
  background-color: green;
  width: 70rem;
  height: 42.4rem;
}
nav+div div:nth-last-of-type(2n+1){
  background-color: blue;
  width: 10rem;
  height: 42.4rem;

}
div+div {
  background-color: black;
  color: white;
  text-align: center;
  height: 2rem;

}
